<% provide(:title, "Listing users") %>
<h1>Listing users</h1>
<%= will_paginate %>
<table>
  <tr>
    <th>Name</th>
    <th>Password</th>
    <th>Game</th>
    <th>User</th>
    <th>Email</th>

    <th></th>
    <th></th>
    <th></th>
  </tr>

  <ul class="users">
<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.password %></td>
    <td><%= user.game_id %></td>
    <td><%= user.user_id %></td>
    <td><%= user.email %></td>

    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </ul>
  <%= will_paginate %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
