<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lng %><br />
    <%= f.text_field :lng %>
  </div>
  <div class="field">
    <%= f.label :alive %><br />
    <%= f.check_box :alive %>
  </div>
  <div class="field">
    <%= f.label :wolf %><br />
    <%= f.check_box :wolf %>
  </div>
  <div class="field">
    <%= f.label :voting %><br />
    <%= f.check_box :voting %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
    <div class="field">
      <%= f.label :score %><br />
      <%= f.number_field :score %>
    </div>
<% end %>
